<form  class="mt-3 collapsible-form">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="form-group text-dark">
          <label for="body" [translate]="'Students.Message'"></label>
          <textarea [disabled]="true" class="form-control bg-white" id="body" rows="3" [(ngModel)]="model.body" [maxLength]="512"  name="body" ></textarea>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="model.action && model.action.description">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="form-group text-dark">
        <label for="description" [translate]="'Requests.Edit.RequestTitle'"></label>         
        <textarea [disabled]="true" class="form-control bg-white" id="description" rows="3" [(ngModel)]="model.action.description" [maxLength]="512"  name="description"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group text-dark">
        <label for="sender" [translate]="'Students.MessageSender'"></label>
        <input [disabled]="true" class="form-control bg-white" id="sender" name="sender" type="text" [(ngModel)]="model.sender.alternateName">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6" *ngIf="model.dateReceived">
      <div class="form-group text-dark">
        <label for="dateReceived" [translate]="'Students.MessageDateReceived'"></label>
        <input [disabled]="true" class="form-control bg-white" id="dateReceived" name="dateReceived" type="text" [value]="model.dateReceived | date : 'shortDate'">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="model.attachments.length>0">
      <div class="col-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-light float-left" (click)="downloadFile(model.attachments)">{{'Requests.Edit.DownloadFile'| translate }}</button>
      </div>
    </div>

  <div class="row" *ngIf="model.action && model.action.id">
    <div class="col-12 col-md-12 col-lg-12">
      <a href="#/requests/{{model.action.id}}/edit" class="btn btn-md text-light bg-primary px-3 float-right">{{'Students.MessagesRelatedRequest' | translate}}</a>
    </div>
  </div> 
</form>
