<div class="row animated fadeIn">
  <div class="col-12">
    <div *ngIf="student">
      <div class="font-xl text-secondary pt-2 pb-2" [translate]="'Students.Rules'">
      </div>
      <div class="mt-2" *ngIf="studentRules && studentRules.length===0">
        <span class="text-muted" [translate]="'Students.StudyProgramRules'"></span>
      </div>
      <div class="flex-column text-right" *ngIf="studentRules && studentRules.length===0">
        <a class="text-decoration-none btn btn-warning" [routerLink]="['.', { outlets:{ modal:'graduateRules'} }]">
          <span>&nbsp;</span><span [translate]="'Students.SetRules'"></span>
        </a>
      </div>
      <div class="card" *ngIf="studentRules && studentRules.length>0">
        <div class="card-body">
          <h5 class="card-title" [translate]="'Rules.RuleTypes.StudentGraduationRules'"></h5>
          <div class="mt-2">
            <span class="text-muted" [translate]="'Students.StudentGraduationRulesHelp'"></span>
          </div>
          <div>
            <div class="flex-column pt-3">
            <div class="">
                <span>
                  <a class="text-decoration-none btn btn-warning" [routerLink]="['.', { outlets:{ modal:'graduateRules'} }]">
                    <span>&nbsp;</span><span [translate]="'Students.EditRules'"></span>
                  </a>
                  <span class="pl-3"></span>
                  <button type="button" class="btn btn-warning" (click)="resetRules()"> {{'Students.RemoveRules' | translate }}</button>
                </span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="student" class="row animated fadeIn">
  <div *ngIf="requirementsAreMet !== null" class="col-12">
    <div class="form-group row font-lg mb-0">
      <div *ngIf="requirementsAreMet" class="col-12"><span class="text-success" [translate]="'GraduationRequestActions.Success'"></span></div>
      <div *ngIf="!requirementsAreMet" class="col-12"><span class="text-danger" [translate]="'GraduationRequestActions.Warning'"></span></div>
    </div>
  </div>
  <div class="col-12 col-md-7 col-lg-8">
    <universis-graduation-progress #graduationProgress [student]="student" (onRequirementsCheck)="setRequirements($event)"></universis-graduation-progress>
  </div>

  <div class="col-12 col-md-5 col-lg-4 pt-4">
    <app-students-degree-calculation [student]="student" [requirementsAreMet]="requirementsAreMet"></app-students-degree-calculation>
  </div>
</div>

<router-modal></router-modal>