<div *ngIf="class">
  <div class="card" *ngIf="class?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Classes.ClassDetails'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          {{class?.title}}
        </div>
      </div>
    </div>
    <div class="card-footer border-top py-4">
      <div class="form-group row mb-1 text-secondary">
        <div class="col-8">
          <span [translate]="'Classes.ClassStatus'"></span>
        </div>
        <div class="col-4 text-dark">
          <span>{{'ClassStatuses.' + class.status.alternateName | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1 text-secondary">
        <div class="col-8">
          <span [translate]="'Classes.NumberOfStudents'"></span>
        </div>
        <div class="col-4 text-dark">
          <span>{{class.numberOfStudents}}</span>
        </div>
      </div>
      <div *ngIf="class.minNumberOfStudents || class.maxNumberOfStudents" class="form-group row mb-1 text-secondary">
        <div class="col-8">
          <span [translate]="'Classes.MinMaxStudentNumber'"></span>
        </div>
        <div class="col-4 text-dark">
          <span>{{class.minNumberOfStudents || '?'}} - {{class.maxNumberOfStudents || '?'}}</span>
        </div>
      </div>
      <div *ngIf="class.weekHours || class.totalHours" class="form-group row mb-1 text-secondary">
        <div class="col-8">
          <span [translate]="'Classes.WeekTotalHours'"></span>
        </div>
        <div class="col-4 text-dark">
          <span>{{class.weekHours || '?'}} / {{class.totalHours || '?'}}</span>
        </div>
      </div>
      <div *ngIf="class.absenceLimit" class="form-group row mb-1 text-secondary">
        <div class="col-8">
          <span [translate]="'Classes.AbsenceLimit'"></span>
        </div>
        <div class="col-4 text-dark">
          <span>{{class.absenceLimit}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="class?.length == 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Classes.General'"></h5>
      <a href="#/classes/{{this.class.id}}/dashboard/general" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          <span [translate]="'Courses.NoGeneralInfo'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
