<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title font-xl text-dark  my-auto" [translate]="'Users.Info'"></h5>
   <!-- <a href="#/users/{{user.id}}/dashboard/general" class="text-primary my-auto my-auto"
       [translate]="'users.More'"></a>-->
  </div>
  <div class="card-body pt-0 pb-3">

  </div>

  <div class="card-footer border-top py-4 text-secondary">
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Users.AlternateName'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.alternateName}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Users.Name'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.name}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Users.StatusTitle'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{'Users.Status.' + user?.enabled | translate}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Users.Type'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.additionalType}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Users.LastLogon'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.lastLogon}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Users.LogonCount'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.logonCount}}</span>
      </div>
    </div>
    <div class="form-group row mb-2" *ngIf="user?.lockoutTime">
      <div class="col-5">
        <span [translate]="'Users.LockoutTime'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.lockoutTime}}</span>
      </div>
    </div>
    <div class="form-group row mb-2" *ngIf="user?.description">
      <div class="col-5 mb-1">
        <span [translate]="'Users.Description'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.description}}</span>
      </div>
    </div>
</div>
