<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/departments/list/index']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]=" 'Sidebar.Departments'"></span></a>
    </li>
    <!-- <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group"></div>
      </div>
    </li> -->
  </ul>
  <div  class="row pt-2 pb-2" *ngIf="departments">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="departments">
        {{departments.name}}</h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="departments">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

