<div>
  <h3 class="mb-3">Graduation Progress</h3>
  <div id="preview1">
    <div class="pb-4">
      <div class="btn float-right">
        <button class="btn btn-light col-12" type="button">Contact Registrar</button>
      </div>
      <div class="font-sm col-6 pl-0">For more information about graduation rules you can check
        your studies guide or contact Registrar.
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body px-4 py-3">
        <h5 class="card-title">Student Information</h5>
        <div class="form-group row">
          <div class="col-md-2">
            <span class="text-dark">STUDY GUIDE</span>
          </div>
          <div>
            <span class="text-secondary col-md-6">PWM-Department of Telecommunications (2016-2020)</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            <span class="text-dark">SPECIALTY</span>
          </div>
          <div>
            <span class="text-secondary col-md-6">-</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-row-reverse">
        <div>
          <button class="btn switch-left btn-light" type="button">Prerequisites</button>
          <button class="btn switch-right btn-indigo" type="button">Progress</button>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body px-4 py-3">
        <h5 class="card-title mb-3">Course Types
          <i class="ml-3 pt-1 fa fa-chevron-up"></i>
        </h5>
        <span class="d-flex py-2 course-row">
              <span class="circle text-indigo">
              <span class="font-lg">25</span>
              </span>
            <span class="font-md pl-3">OBLIGATORY
                <span class="row pl-3 pb-2">The number of required courses must be greater or equal to 25.</span>
              </span>
            </span>
        <div class="text-gray-200">
          <span class="d-flex py-2 course-row">
              <span class="circle">
              <i class="fa fa-lock"></i>
              </span>
            <span class="font-md pl-3">SPECIALTY OBLIGATORY
                <span class="row pl-3 pb-2">Prerequisites will be shown once you choose specialty.</span>
              </span>
            </span>
        </div>
        <div class="text-gray-200">
          <span class="d-flex py-2 course-row">
              <span class="circle">
              <i class="fa fa-lock"></i>
              </span>
            <span class="font-md pl-3">OPTIONAL SPECIALTY COURSES
                <span class="row pl-3 pb-2">Prerequisites will be shown once you choose specialty.</span>
              </span>
            </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body px-4 py-3">
        <h5 class="card-title mb-3">Duration of Studies
          <i class="ml-3 pt-1 fa fa-chevron-up"></i>
        </h5>
        <span class="d-flex py-2 course-row">
              <span class="circle text-indigo">
              <span class="font-lg">2</span>
              </span>
            <span class="font-md pl-3">SEMESTERS
                <span class="row pl-3 pb-2">The number of required semesters must be greater or equal to 8.</span>
              </span>
            </span>
      </div>
    </div>
    <div class="card">
      <div class="card-body px-4 py-3">
        <h5 class="card-title mb-3">Ects
          <i class="ml-3 pt-1 fa fa-chevron-up"></i>
        </h5>
        <div class="text-gray-200">
          <span class="d-flex py-2 course-row">
              <span class="circle text-secondary">
              <i class="fa fa-lock"></i>
              </span>
            <span class="font-md pl-3">ECTS
                <span class="row pl-3 pb-2">Ects will be displayed, after you choose a specialty.</span>
              </span>
            </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body px-4 py-3">
        <h5 class="card-title mb-3">Projects
          <i class="ml-3 pt-1 fa fa-chevron-up"></i>
        </h5>
        <span class="d-flex py-2 course-row">
              <span class="circle text-secondary">
              <span class="font-lg">0</span>
              </span>
            <span class="font-md pl-3">THESIS
                <span class="row pl-3 pb-2">You need to have at least one completed Thesis.</span>
              </span>
            </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-2 col-lg-12">
      <app-highlight-include [highlight]="'app/previews/components/graduation-rules/graduation-rules.component.html#preview1'"></app-highlight-include>
    </div>
  </div>
</div>
