<div class="container">
    <h4>Simple Router Modals</h4>
    <p>RouterModalModule uses angular router outlets in order to show modal components based on a route defined in application routes.</p>
    <div class="col-lg-12 row mb-3">
        <a class="btn btn-primary" href="#" [routerLink]="[{ outlets: { modal: ['ok-cancel'] } }]">An simple confirmation message</a>
    </div>
    <p>
        This example shows a simple alert message.
    </p>
    <div>
        <tabset>
            <tab heading="component.ts" id="tab1">
                <app-highlight-include [highlight]="'app/router-modals/ok-cancel-action.component.ts'"></app-highlight-include>
            </tab>
            <tab heading="component.html">
                <app-highlight-include [highlight]="'app/router-modals/ok-cancel-action.component.html'"></app-highlight-include>
            </tab>
            <tab heading="routing.ts">
                <app-highlight-include [highlight]="'app/router-modals/use-router-modals.routing.ts'"></app-highlight-include>
            </tab>
        </tabset>
    </div>

    <div class="mt-3 col-lg-12 row mb-3">
        <a class="btn btn-primary" href="#" [routerLink]="[{ outlets: { modal: ['yes-no'] } }]">A yes-no confirmation message</a>
    </div>
    <p>
        This example demonstrates a simple yes/no confirmation message.
        Use yes() or no() methods to execute something following user's choice.
    </p>
    <div>
        <tabset>
            <tab heading="component.ts" id="tab2">
                <app-highlight-include [highlight]="'app/router-modals/yes-no.component.ts'"></app-highlight-include>
            </tab>
            <tab heading="routing.ts">
                <app-highlight-include [highlight]="'app/router-modals/use-router-modals.routing.ts'"></app-highlight-include>
            </tab>
        </tabset>
    </div>

    <div class="mt-3 col-lg-12 row mb-3">
        <a class="btn btn-primary" href="#" [routerLink]="[{ outlets: { modal: ['abort-retry-ignore'] } }]">An abort, retry ignore message</a>
    </div>
    <p>
        This example demonstrates a simple abort, retry ignore confirmation message.
        Use abort(), retry() and ignore() methods to execute something following user's choice.
    </p>
    <div>
        <tabset>
            <tab heading="component.ts" id="tab3">
                <app-highlight-include [highlight]="'app/router-modals/abort-retry-ignore.component.ts'"></app-highlight-include>
            </tab>
            <tab heading="routing.ts">
                <app-highlight-include [highlight]="'app/router-modals/use-router-modals.routing.ts'"></app-highlight-include>
            </tab>
        </tabset>
    </div>

</div>
<router-modal></router-modal>
