<div>
  <h4 class="row ml-1 mb-3 font-weight-bold">Date Pickers</h4>
  <div id="datepicker1">
    <div class="row">
      <div class="col-2 form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker
               [bsConfig]="{containerClass: 'theme-dark-blue', showWeekNumbers:false}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include
        [highlight]="'app/datepicker/datepicker.component.html#datepicker1'"></app-highlight-include>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include
        [highlight]="'app/datepicker/datepicker.component.ts'"></app-highlight-include>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include
        [highlight]="'app/datepicker/config/config.ts'"></app-highlight-include>
    </div>
  </div>
  <h4 class="row font-weight-bold ml-1 mb3">Date-range Picker</h4>
  <div id="datepicker2">
    <div class="row">
      <div class="col-2 form-group">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDaterangepicker
               [bsConfig]="{containerClass: 'theme-dark-blue', showWeekNumbers:false}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include
        [highlight]="'app/datepicker/datepicker.component.html#datepicker2'"></app-highlight-include>
    </div>
  </div>
  <div id="datepicker3">
    <div class="row">
      <div class="col-2 form-group">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDatepicker
               [bsConfig]="{containerClass: 'theme-dark-blue', showWeekNumbers:false, dateInputFormat: 'DD/MM/YYYY'}"
               [(ngModel)]="bsValue">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">{{bsValue | date}}</div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include
        [highlight]="'app/datepicker/datepicker.component.html#datepicker3'"></app-highlight-include>
    </div>
  </div>
</div>
